@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
box-sizing: border-box;
margin:0;
}
body{
    background-color: rgb(177, 177, 177);
    font-family: 'Open Sans', sans-serif;
    position:relative;
    font-size:2em;
    
}

h1,h2{
    font-family: 'Exo 2', sans-serif;
}
#wrapper{
    background-color: rgb(233, 233, 233);
    width: 90%;
    margin: 30px auto;
    overflow: auto;
}
#head{
    position: sticky;
    top:0;                                               
    background-color: rgb(143, 18, 18);                
    color: white;                
    text-align: right;
    width: 90%;  
    margin: auto;   
    overflow:auto;       
}

#headLogo{
    float:left;
    padding:.2em;
}
#headText{    
    float:right;            
    padding:0em 1em .1em 0em
}

#title{
    text-align:center;
    text-decoration: underline;
    padding:1em;
}

.row{
    overflow: auto;
    clear:both;                
}

.col{
    width: 50%;
    float: left; 
    text-align: center;
    margin:auto; 
}

.leftcol{
    width: 30%;
    float: left; 
    text-align: center;
    margin:auto; 
    overflow: auto;                          
}

.rightcol{
    width: 70%;
    float: left; 
    text-align: center;
    margin:auto; 
    overflow: auto;            
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border:0.2em solid black;
    border-radius:1em;   
    height:auto;
    overflow:auto;
    
}

.text{
    clear:both;
    padding:1em;
    vertical-align: middle;
    overflow:auto;
    
}

a{
    color:black;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: rgb(143,18,18);
}

a:hover{
    background-color: rgb(13, 150, 138);
    border:0.1em solid black;
    border-radius: 1em;
    text-decoration:none;
}

#nav ul {                
    list-style-type:none;
    overflow:auto;
    background-color: rgb(143,18,18);
    margin:auto;
    width:90%;
}

#nav li{
    margin:0.2em;
    float:left;
}

#nav li a{
    display:block;
    padding:16px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family:'Exo 2', sans-serif;
}

#footer{
    clear:both;
    padding:1em;
    border-top:.2em solid black;
    border-bottom: .2em solid black;
    background-color: rgb(143, 18, 18);
    width:100%;
    color:white;
    margin:auto;
    text-align: center;
    font-size:.5em;
}

#logo{
    border: none;
    border-radius:0em;
    width:150px;
    height:auto;
}

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;                
    border: none;
    cursor: pointer;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(13, 150, 138);
}

@media screen and (max-width: 800px) {
    .leftcol, .rightcol, .col{
        display: block;
        width:100%
    }

    #wrapper, #nav ul{
        width:100%;
    }

    #head {
        width:100%;
        font-size:0.5em;
        padding:0em;
    }
    #nav li{
        font-size:0.5em;
        padding:0em;
    }

    #logo{
        width: 70px;
    }

    #image{
        width:75%;
        height:auto;
    }
}